{% extends 'board/base.html' %}
{% block main_area %}
<div class="col text-left" style="margin-left:100px; margin-right:100px">
    <script>
        function checkStatus() {
            if({{challenge.status}} == "1") {
                var result = confirm("성공한 챌린지를 수정하시면 일수가 달라질 수 있습니다. 수정하시겠습니까?");
                if(result) {
                    location.href = "update/";
                }
            }
            else if({{challenge.status}} == "2") {
                var result = confirm("실패한 챌린지를 수정하시면 일수가 달라질 수 있습니다. 수정하시겠습니까?");
                if(result) {
                    location.href = "update/";
                }
            }
            else {
                location.href = "update/";
            }
        };
    </script>
<br>

<div style="background-color: #ffffff; padding: 20px;border: 3px solid black;border-radius: 5px;">
    <div style="display: flex; align-items: center;">
    <h3 style="font-weight:bold;">{{challenge.title}}</h3>
<h4>&nbsp;챌린지 {{challenge.get_day}}일차
        {% if challenge.status == "0" %}
            진행중...
        {% elif challenge.status == "1" %}
            성공!
        {% elif challenge.status == "2" %}
            실패
        {% endif %}
    </h4></div>
 <hr>
<div style="margin-left:20px; margin-right:20px">
        <p>시작 날짜 : {{challenge.start_date}}</p>
        <p>카테고리 : {{challenge.category}}</p>
        <p>도전자 : {{challenge.get_user_name}}</p>
    </div>
    <hr>
    {% if challenge.memo %}
    <b style="margin-left:20px; margin-right:20px;">[내용]</b>
    <div style="background-color:#ffffff; margin-left:20px; margin-right:20px">
        {{challenge.get_memo_markdown | safe}}
    </div>
    {% endif %}


</div>
<br>
<div style="display: flex; justify-content: flex-end;">
    <a id="like-button" href="like/" type="button" style="margin-left: 20px; margin-right: 20px; border-radius: 5px;padding: 10px 20px;background-color: #FFFDF0;text-decoration: none;color: black;">
        {% if request.user in challenge.like_users.all %}
            <i class="fa-solid fa-heart fg-danger" style="color:red;font-size: 20px;"></i>
        {% else %}
            <i class="fa-regular fa-heart" style="font-size: 20px;"></i>
        {% endif %}
        <span id="like-count" style="font-size: 20px;">{{ challenge.like_users.count }}</span>
     </a>

    &nbsp;
    {% if user.is_authenticated %}
        {% if user == challenge.user %}
            <button type="button" onclick="checkStatus()" style="background-color: #f7cf60; border: none; border-radius: 5px; padding: 10px 20px; cursor: pointer;">챌린지 수정</button>
        {% endif %}
    {% endif %}
</div>
</div>
{% endblock %}

<script>
    const likeButton = document.getElementById('like-button');
    const likeCount = document.getElementById('like-count');
likeButton.addEventListener('click', function() {
        if (likeButton.querySelector('.fa-heart').classList.contains('fa-regular')) {
            likeButton.querySelector('.fa-heart').classList.remove('fa-regular');
            likeButton.querySelector('.fa-heart').classList.add('fa-solid', 'fg-danger');
            likeCount.textContent = parseInt(likeCount.textContent) + 1;
        } else {
            likeButton.querySelector('.fa-heart').classList.remove('fa-solid', 'fg-danger');
            likeButton.querySelector('.fa-heart').classList.add('fa-regular');
            likeCount.textContent = parseInt(likeCount.textContent) - 1;
        }
    });
</script>