{% extends 'board/base.html' %}

{% block main_area %}
<div id="side_body" class="vertical-menu col-3">
    {% for c in colleges %}
    <div class="side-item">
        <a href="../../major/{{c.slug}}" style="text-decoration-line:none; color:#000000"><b style="color:#000000;">{{c}}</b></a>
        <div id="side_dropdown" class="dropdown">
            {% for m in majors %}
                {% if m.college == c %}
                <a href="../../major/{{m.slug}}">{{m}}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

<div class="col-9">

    <div class="select-container">
        <select onchange="location.href=this.value">
            <option value="../../">전체</option>
            {% for n in numbers %}
            {% if n == number_now %}
            <option value="../{{n.number}}" selected>{{n}}</option>
            {% else %}
            <option value="../{{n.number}}">{{n}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>

    {% include 'board/list.html' %}
</div>
{% endblock %}