{% extends 'board/base.html' %}

{% block main_area %}
<div id="side_body" class="vertical-menu col-3">
    {% for c in colleges %}
    <div class="side-item">
        <a href="major/{{c.slug}}" style="text-decoration-line:none; color:#000000"><b style="color:#000000;">{{c}}</b></a>
        <div id="side_dropdown" class="dropdown">
            {% for m in majors %}
                {% if m.college == c %}
                <a href="major/{{m.slug}}">{{m}}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

<div class="col-9">
<button type="button" onclick="checkLogin()">챌린지 시작</button><br>

<script>
    function checkLogin(){
        {% if user.is_authenticated %}
            location.href = "{% url 'challenge_new' %}";
        {% else %}
            var result = confirm("로그인 후 이용하실 수 있습니다. 로그인하시겠습니까?");
                if(result) {
                    location.href = "{% url 'user:logout' %}";
                }
        {% endif %}
    }
</script>

    <select onchange="location.href=this.value">
        <option value="#">전체</option>
        {% for n in numbers %}
        {% if n == number_now %}
        <option value="number/{{n.number}}" selected>{{n}}</option>
        {% else %}
        <option value="number/{{n.number}}">{{n}}</option>
        {% endif %}
        {% endfor %}
    </select>

    <h3>챌린지 진행중</h3>
    {% for l in challenge_keep_list %}
    <a href={{l.get_absolute_url}}>{{l}}</a> {{l.get_day}}일차 진행중 <i class="fa-regular fa-heart"></i>{{l.like_users.count}} {{l.get_user_name}}<br>
    {% endfor %}
    <br>

    {% include 'board/pagination_keep.html' %}

    <h3>챌린지 성공</h3>
    {% for l in challenge_success_list %}
    <a href={{l.get_absolute_url}}>{{l}}</a> {{l.get_day}}일차 성공 <i class="fa-regular fa-heart"></i>{{l.like_users.count}} {{l.get_user_name}}<br>
    {% endfor %}
    <br>

    {% include 'board/pagination_success.html' %}
</div>
{% endblock %}