{% extends 'board/base.html' %}

{% block main_area %}
<div id="side_body" class="vertical-menu col-3">
    {% for c in colleges %}
    <div class="side-item">
        <a href="major/{{c.slug}}" style="text-decoration-line:none; color:#000000"><b style="color:#000000;">{{c}}</b></a>
        <div id="side_dropdown" class="dropdown">
            {% for m in majors %}
                {% if m.college == c %}
                <a href="major/{{m.slug}}">{{m}}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

<div class="col-9">
<script>
    function checkLogin(){
        {% if user.is_authenticated %}
            location.href = "{% url 'challenge_new' %}";
        {% else %}
            var result = confirm("로그인 후 이용하실 수 있습니다. 로그인하시겠습니까?");
                if(result) {
                    location.href = "{% url 'user:logout' %}";
                }
        {% endif %}
    }
</script>

    <div class="select-container">
        <select onchange="location.href=this.value">
            <option value="#">전체</option>
            {% for n in numbers %}
            {% if n == number_now %}
            <option value="number/{{n.number}}" selected>{{n}}</option>
            {% else %}
            <option value="number/{{n.number}}">{{n}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div><br>

    <div class="tableBlock">
        <h3>&plus; <span>진행중 Challenge</span></h3>
        <!--<span class="emoji">&#x1F4C4; </span>-->
        <table>
            <thead>
                <tr><th>제목</th><th>며칠차</th><th>좋아요 수</th><th>전공/학번</th></tr>
            </thead>
            <tobody>
                {% for l in challenge_keep_list %}
                <tr>
                    <td><a href={{l.get_absolute_url}}>{{l}}</a></td>
                    <td>&plus;{{l.get_day}}</td>
                    <td> &#x2661;{{l.like_users.count}}</td>
                    <td>{{l.get_user_name}}</td>
                </tr>
                {% endfor %}
            </tobody>
        </table>
    </div><br>

    {% include 'board/pagination_keep.html' %}
    <br><br><br>

    <div class="tableBlock">
        <h3>&checkmark; <span>성공 Challenge</span></h3>
        <table>
            <thead>
                <tr><th>제목</th><th>며칠차</th><th>좋아요 수</th><th>전공/학번</th></tr>
            </thead>
            <tobody>
                {% for l in challenge_success_list %}
                <tr>
                    <td><a href={{l.get_absolute_url}}>{{l}}</a></td>
                    <td>&plus;{{l.get_day}}</td>
                    <td> &#x2661;{{l.like_users.count}}</td>
                    <td>{{l.get_user_name}}</td>
                </tr>
                {% endfor %}
            </tobody>
        </table>
    </div><br>

    {% include 'board/pagination_success.html' %}
</div>

{% endblock %}