#new_body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 10px;
            margin-top: 50px;
            margin-left: 150px;
            margin-bottom: 250px;
            width: 800px;
        }

        .row #new_body .new_div {
            /* background-color: #fcfabf; */
            border: 3px solid black;
            border-radius: 10px;
            padding: 20px;
            margin-right:20px;
        }

        /* 챌린지 제목 스타일 */
        .new_title {
            font-size: 28px;
            font-weight: bold;
            margin: 20px 0px;
            border: 2px solid black;
            border-radius: 8px;
            color: black;
            padding: 10px
        }

        /* 제목 입력 영역 */
        #new_title {
            width: 500px;
            border: none;
            font-size: larger;
            margin: 20px 0px;
        }

        /* .new_title::placeholder {
            color: grey; 
            text-align: center; /* 원하는 텍스트 정렬으로 변경 
        } 
        */

        /* 카테고리 선택 영역 */
        #new_category {
            width: 250px;
            padding: 5px;
            margin-top: 10px;
            margin-bottom: 30px;
            border: 2px solid black;
            border-radius: 8px;

            /* -webkit-appearance: none; */
            /* appearance: none; */
        }

        #new_category:focus {
            margin-bottom: 150px;
        }

        #new_category option {
            border: 2px solid black;
        }

        /* 내용 영역 */
        #new_memo {
            width: 100%;
            max-width: 800px;
            height: 300px;
            margin-bottom: 10px;
            font-size: 15px;
            padding: 10px;
            border: 2px solid black;
            border-radius: 8px;
        }

        

        /* 챌린지 시작 버튼 영역 */
        #new_button {
            background-color: #f7cf60; /* 배경색을 파란색으로 설정 */
            color: black; /* 글씨색을 흰색으로 설정 */
            padding: 10px 20px; /* 상하 10px, 좌우 20px 여백 */
            margin: 20px 20px;
            border: 2px solid black; /* 테두리 없음 */
            border-radius: 15px; /* 둥근 모서리 적용 */
            cursor: pointer;
        }

        /* 챌린지 시작 버튼 호버 */
        #new_button:hover {
            background-color: #ffd560; /* 호버 시 배경색 변경 */
        }