<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인, 로그아웃</title>
</head>
<body>
{% include 'board/menubar.html' %}

    <div class="container">
        {% if user.is_authenticated %}
        로그인성공!
        {{ user.username }}님 환영합니다.
        <a href="{% url 'user:logout' %}">로그아웃</a>
        {% else %}
        <form method="POST" action="{% url 'user:login' %}">
            {% csrf_token %}
            <p>username</p>
            <input type="text" name="username">
            <br>
            <p>password</p>
            <input type="password" name="password">
            <br>
            <input type="submit" value="로그인">
        </form>
        <a href="{% url 'user:signup' %}">회원가입</a>
        {% endif %}
    </div>
</body>
</html>