<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'board/css/topmenu.css' %}" rel="stylesheet" type="text/css" media="screen">
    <link href="{% static 'board/bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="screen">
    <title>Challenge</title>
    <style>
        body{
            background-color: #fcfaa7;
        }
    </style>
</head>
<body>
    {% include 'board/menubar.html' %}<br>

    <div class="container"></div>
</body>
</html>