<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'board/css/topmenu.css' %}" rel="stylesheet" type="text/css" media="screen">
    <link href="{% static 'board/bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="screen">
    <title>Challenge</title>
    <style>
        body{
            background-color: #FFFDF0;
        }
    </style>
</head>
<body>
    {% include 'board/menubar.html' %}<br>

    <div class="container">
        <div>
            <p>1등 {{success_first.name}} {{success_first_n}}개</p>
            <p>2등 {{success_second.name}} {{success_second_n}}개</p>
            <p>3등 {{success_third.name}} {{success_third_n}}개</p>
        </div>
        <div>
            <p>1등 {{failure_first.name}} {{failure_first_n}}개</p>
            <p>2등 {{failure_second.name}} {{failure_second_n}}개</p>
            <p>3등 {{failure_third.name}} {{failure_third_n}}개</p>
        </div>
    </div>
</body>
</html>