<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'board/css/topmenu.css' %}" rel="stylesheet" type="text/css" media="screen">
    <link href="{% static 'board/bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="screen">
    <title>상세 페이지</title>
    <style>
        body{
            background-color: #FCF1AB;
        }
        .rounded-box {
            border: 3px solid #ddd;
            border-radius: 10px;
            padding: 10px;
            margin: 10px 0;
        }
    </style>
</head>
<body>
{% include 'board/menubar.html' %}<br>

    <div class="container">
        <h1>My Page</h1>
        <h3>이름 : {{user.username}}</h3>
        <h3>학번 : {{user.number}}</h3>
        <h3>대학 : {{user.college}}</h3>
        <h3>학과 : {{user.major}}</h3>
        <br><br>
        <div style="display: flex; justify-content: space-between;">
            <div style="flex:1; margin-right:10px;" class="rounded-box">
                <h3>챌린지 진행중</h3>
                {% for l in challenge_keep_list %}
                <a href={{l.get_absolute_url}}>{{l}} </a>D+{{l.get_day}}<br>
                {% endfor %}
                <br>
            </div>
            <div style="flex:1; margin-right:10px;" class="rounded-box">
                <h3>챌린지 성공</h3>
                {% for l in challenge_success_list %}
                <a href={{l.get_absolute_url}}>{{l}} </a>D+{{l.get_day}}<br>
                {% endfor %}
                <br>
            </div>
            <div style="flex:1; margin-right:10px;" class="rounded-box">
                <h3>챌린지 실패</h3>
                {% for 1 in challenge_failure_list %}
                <a href={{l.get_absolute_url}}>{{l}} </a>D+{{l.get_day}}<br>
                {% endfor %}
                <br>
            </div>
        </div>
    </div>

</body>
</html>